---
import { getCollection } from "astro:content";
import Layout from "../../layout/Layout.astro";
import BlogSection from "../../components/Blog/BlogSection.astro";
import BreadCumb from "../../components/ui/BreadCumb.astro";

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const blogs = await getCollection("blogs");

  return paginate(blogs, { pageSize: 3 });
}

const { page }: { page: any } = Astro.props;
---

<Layout title='Blogs'>
  <main class='main-wrapper relative overflow-hidden'>
    <BreadCumb>
      <h1 class='breadcrumb-title'>Blog</h1>
      <ul class='breadcrumb-nav'>
        <li><a href='/'>Home</a></li>
        <li>Blogs</li>
      </ul>
    </BreadCumb>
    <BlogSection page={page} />
  </main>
</Layout>
