---
import { getEntryBySlug } from "astro:content";
import Layout from "../layout/Layout.astro";
import BreadCumb from "../components/ui/BreadCumb.astro";
const TermsConditionBody = await getEntryBySlug("privacyPolicy", "index");
const { Content } = await TermsConditionBody.render();
---

<Layout title='Privacy Policy'>
    <main class='main-wrapper relative overflow-hidden'>
        <BreadCumb>
          <h1 class='breadcrumb-title'>Privacy Policy</h1>
          <ul class='breadcrumb-nav'>
            <li><a href='/'>Home</a></li>
            <li>Privacy Policy</li>
          </ul>
        </BreadCumb>
        <div style="margin: 20px;">
          <Content />
        </div>
      </main>
</Layout>
