---
import { Image } from "astro:assets";
---

<div class='mb-4 flex gap-x-3 last:mb-0 items-start'>
  <span class='text-xl text-ColorBlue'>
    <Image
      src={"/assets/img/icons/badge.svg"}
      height='20'
      width='20'
      alt='badgeIcon'
      class='w-20 sm:w-7'
    />
  </span>
  <div class='leading-tight'><slot /></div>
</div>
