---
import { getEntryBySlug } from "astro:content";
import SwiperComponent from "../functional/Swiper";

const BrandData = await getEntryBySlug("IndexPage", "brand");
const { title, images } = BrandData?.data;
const { marginBottom } = Astro.props;
---

<div class='jos'>
  <div
    class=`${marginBottom ? 'pb-[60px] md:pb-20 lg:pb-[100px]':'py-[60px] md:py-20 lg:py-[100px]'}`>
    <div class='container-default'>
      <div
        class='mx-auto mb-10 max-w-[80%] text-center text-xl font-semibold leading-[1.4] opacity-70 md:mb-16 lg:mb-20 lg:max-w-2xl'>
        {title}
      </div>
      <SwiperComponent client:only='react' data={images} />
    </div>
  </div>
</div>
