---
const { Q, A, index } = Astro.props;
---

<li
  class={`accordion-item ${index === 0 ? "active" : ""} overflow-hidden border-b border-ColorBlack p-[30px] last:border-b-0`}>
  <div
    class='accordion-header flex justify-between items-center gap-6 text-xl font-semibold text-ColorBlack'>
    <button class='flex-1 text-left'>{Q}</button>
    <div
      class='accordion-icon-1 relative flex h-5 w-5 items-center justify-center rounded-[50%] bg-ColorBlue'>
      <span class='inline-block h-0.5 w-[10px] rounded-sm bg-white'></span>
      <span
        class='absolute inline-block h-[10px] w-0.5 rotate-0 rounded-sm bg-white'
      ></span>
    </div>
  </div>

  <div class='accordion-body max-w-[826px] opacity-80'>
    <p class='pt-5'>{A}</p>
  </div>
</li>
