---
import { getEntry } from "astro:content";
import Logo from "./Logo.astro";
import Navigation from "./Navigation.astro";
const {
  data: { rightButton1, rightButton2 },
} = await getEntry("site", "header");
---

<header
  class='site-header site-header--absolute is--white py-3'
  id='sticky-menu'>
  <div class='container-default'>
    <div class='flex items-center justify-between gap-x-8'>
      <Logo link='/' />
      <div class='menu-block-wrapper'>
        <div class='menu-overlay'></div>
        <nav class='menu-block' id='append-menu-header'>
          <div class='mobile-menu-head'>
            <div class='go-back'>
              <i class='fa-solid fa-angle-left'></i>
            </div>
            <div class='current-menu-title'></div>
            <div class='mobile-menu-close'>&times;</div>
          </div>
          <Navigation />
        </nav>
      </div>
      <div class='flex items-center gap-6'>
        <a
          href={rightButton1?.link}
          class='btn-text hidden hover:text-ColorBlue sm:inline-block'
          >{rightButton1?.text}</a
        >
        <a
          href={rightButton2?.link}
          class='btn is-blue btn-animation group hidden is-rounded sm:inline-block'
          ><span>{rightButton2?.text}</span></a
        >
        <div class='block lg:hidden'>
          <button
            id='openBtn'
            class='hamburger-menu mobile-menu-trigger'
            aria-label='OpenBtn'>
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
