---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

const { link, css, logo } = Astro.props;
const MetaData = await getEntry("site", "meta");
---

<a href={link} class={css}>
  <Image
    src={logo ? logo : MetaData?.data?.logo}
    alt='Logo'
    width='120'
    height='44'
  />
</a>
